<a href="https://colab.research.google.com/github/z-hassan01/CRD-Python-2026/blob/main/Class_03_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionary
- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
- Dictionaries are written with curly brackets, and have keys and values:
- The values in dictionary items can be of any data type
- From Python's perspective, dictionaries are defined as objects with the data type 'dict':

In [ ]:
# dictionary
#a = {"A": "Apple", "B":"Ball"}
dict_1 = {'Akib':40, 'Saif Hossain': 100, 'Satil': 100, 'Antor': 60}
dict_2 = {'brand':'Ford', 'model': 'Mustang', 'year': 2022}
dict_3 = {1:"A", 2:"B", 3:"C"}

print(dict_1)
print(dict_2)
print(dict_3)

print(type(dict_1))

{'Akib': 40, 'Saif Hossain': 100, 'Satil': 100, 'Antor': 60}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}
{1: 'A', 2: 'B', 3: 'C'}
<class 'dict'>

In [ ]:
print(dict_3.values())
print(dict_1.keys())

dict_values(['A', 'B', 'C'])
dict_keys(['Akib', 'Saif Hossain', 'Satil', 'Antor'])

In [ ]:
dict_4 = {'a':(77, 88, 99), 'b':[33,53,65], 'c':[44,24,54]}
print(dict_4)

{'a': (77, 88, 99), 'b': [33, 53, 65], 'c': [44, 24, 54]}

In [ ]:
dict_4['a']

(77, 88, 99)

In [ ]:
import pandas as pd

df = pd.DataFrame(dict_4)
print(df)
df.to_excel("A.xlsx", index=False)

    a   b   c
0  77  33  44
1  88  53  24
2  99  65  54

In [ ]:
# dictionary by function
dict_5 = dict(emdad='Yes', kids='Yes', year=2026)
print(dict_5)

{'emdad': 'Yes', 'kids': 'Yes', 'year': 2026}

In [ ]:
# nested dictionary
training = {'CRD': {'course name': 'python', 'participants': 100},

    'Personal Course': {
        'course name': 'GIS and Remote Sensing',
        'participants': 'All'
           }}

print(training)

{'CRD': {'course name': 'python', 'participants': 100}, 'Personal Course': {'course name': 'GIS and Remote Sensing', 'participants': 'All'}}

In [ ]:
training.keys()

dict_keys(['CRD', 'Personal Course'])

In [ ]:
df1 = pd.DataFrame(training)
df1

                 CRD         Personal Course
course name   python  GIS and Remote Sensing
participants     100                     All

In [ ]:
# join dictionary. similar to nested
CRD = {
    'course name': 'python',
    'participants': 100}

Personal_Course = {
        'course name': 'GIS and Remote Sensing',
        'participants': 'All'}

training = {'CRD': CRD,
           'Personal Course': Personal_Course}

print(training)

{'CRD': {'course name': 'python', 'participants': 100}, 'Personal Course': {'course name': 'GIS and Remote Sensing', 'participants': 'All'}}

In [ ]:
# items
# Get a list of the key:value pairs

print(training.items())

dict_items([('CRD', {'course name': 'python', 'participants': 100}), ('Personal Course', {'course name': 'GIS and Remote Sensing', 'participants': 'All'})])

In [ ]:
# Data acess
dict_2 = {'brand':'Ford', 'model': 'Mustang', 'year': 2022}
print(dict_2)
print(dict_2['year'])

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}
2022

In [ ]:
dict_2["model"]

'Mustang'

In [ ]:
# get() it is also work for data access
print(dict_2.get('brand'))

x = dict_2.get('model')
print(x)

Ford
Mustang

In [ ]:
# Make a change in the original dictionary, and see that the items list gets updated as well:
dict_2['model'] = 'Shah Rukh Khan'

print(dict_2)

{'brand': 'Ford', 'model': 'Shah Rukh Khan', 'year': 2022}

In [ ]:
# Add a new item to the original dictionary, and see that the items list gets updated as well:
dict_2.update({'model':'Salman Khan'})
print(dict_2)

{'brand': 'Ford', 'model': 'Salman Khan', 'year': 2022}

In [ ]:
dict_2["name"] = "Md Emdadul Haque"
print(dict_2)

{'brand': 'Ford', 'model': 'Salman Khan', 'year': 2022, 'name': 'Md Emdadul Haque'}

In [ ]:
dict_2["name"] = "ABC"
print(dict_2)

{'brand': 'Ford', 'model': 'Salman Khan', 'year': 2022, 'name': 'ABC'}

In [ ]:
dict_2["X"] = "Y"
dict_2

{'brand': 'Ford',
 'model': 'Salman Khan',
 'year': 2022,
 'name': 'ABC',
 'X': 'Y'}

In [ ]:
# The pop() method removes the item with the specified key name:
dict_2.pop('model')
print(dict_2)

{'brand': 'Ford', 'year': 2022, 'name': 'ABC', 'X': 'Y'}

In [ ]:
# The popitem() method removes the last inserted item
dict_2.popitem()
print(dict_2)

{'brand': 'Ford', 'year': 2022, 'name': 'ABC'}

In [ ]:
# The clear() method empties the dictionary
dict_23 = dict_2.copy()
dict_23.clear()
print(dict_23)
print(type(dict_23))

{}
<class 'dict'>

### Real Data

In [ ]:
import pandas as pd

df = pd.read_csv('sample1.csv')
df

    Year  Order Number\n(m)  Annual Rainfal\n(cm)  Probability
0   1960                  3                   130        0.130
1   1961                 16                    84        0.696
2   1962                 20                    76        0.870
3   1963                 13                    89        0.565
4   1964                  6                   112        0.261
5   1965                 10                    96        0.435
6   1966                 18                    80        0.783
7   1967                  4                   125        0.174
8   1968                  2                   143        0.087
9   1969                 14                    89        0.609
10  1970                 19                    78        0.826
11  1971                 12                    90        0.522
12  1972                  9                   102        0.391
13  1973                  7                   108        0.304
14  1974                 22                    60        0.957
15  1975                 21                    75        0.913
16  1976                  5                   120        0.217
17  1977                  1                   160        0.043
18  1978                 15                    85        0.652
19  1979                  8                   106        0.348
20  1980                 17                    83        0.739
21  1981                 11                    95        0.478

In [ ]:
year = df.Year
year = tuple(year)
print(year_tpl)

(1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981)

In [ ]:
annual_rainfall = df["Annual Rainfal\n(cm)"]
print(annual_rainfall.head())

probability = df.Probability
print(probability.head())

0    130
1     84
2     76
3     89
4    112
Name: Annual Rainfal\n(cm), dtype: int64
0    0.130
1    0.696
2    0.870
3    0.565
4    0.261
Name: Probability, dtype: float64

In [ ]:
input_value = int(input('Enter a year: '))
print(input_value)

serial = year.index(input_value)
print(serial)

dic = {"Year" : annual_rainfall}

print('Year', input_value, '=', dic["Year"][serial], 'Annual Rainfall')

Enter a year:  1970

1970
10
Year 1970 = 78 Annual Rainfall

In [ ]:
aa = df["Annual Rainfal\n(cm)"]
aa = tuple(aa)
print(aa)

(130, 84, 76, 89, 112, 96, 80, 125, 143, 89, 78, 90, 102, 108, 60, 75, 120, 160, 85, 106, 83, 95)

In [ ]:
lii = [1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981]
xx = [130, 84, 76, 89, 112, 96, 80, 125, 143, 89, 78, 90, 102, 108, 60, 75, 120, 160, 85, 106, 83, 95]


bb = dict(lii=xx)
bb['lii'][5]

96

In [ ]:
df.head()

   Year  Order Number\n(m)  Annual Rainfal\n(cm)  Probability
0  1960                  3                   130        0.130
1  1961                 16                    84        0.696
2  1962                 20                    76        0.870
3  1963                 13                    89        0.565
4  1964                  6                   112        0.261

In [ ]:
df.Year[3:7]

3    1963
4    1964
5    1965
6    1966
Name: Year, dtype: int64