<a href="https://colab.research.google.com/github/z-hassan01/CRD-Python-2026/blob/main/class_02_part_02_identity_and_membership_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

- Returns True if both variables are the same object (is) either returns False
- Returns True if both variables are not the same object (is not) either returns False

In [ ]:
name_1 = 'Emdadul'
name_2 = 'Emdadul'
name_3 = 'emdadul'

print(id(name_1))
print(id(name_2))
print(id(name_3))

1972195226080
1972195226080
1972195558480

In [ ]:
print(name_1 is name_2)
print(name_1 is name_3)

True
False

In [ ]:
print(name_1 is not name_2)
print(name_1 is not name_3)

False
True

In [ ]:
list_1 = ['Bangladesh', 'India', 'Pakistan', 'Srilanka']
list_2 = ['Bangladesh', 'India', 'Pakistan', 'Srilanka']

list_3 = ['bangladesh', 'India', 'Pakistan', 'Srilanka']

print(id(list_1[0]))   # Though list_1 and list_2 have the same content,
                    # but list_1 is not the same of list_2.
                    # Because it is a list.
print(id(list_2[0]))
print(id(list_3[0]))

1972195457200
1972195457200
1972195452272

In [ ]:
print(list_1 is list_2)
print(list_1 is list_3)

False
False

In [ ]:
print(id(list_1))
print(id(list_2))

1972241752128
1972241754240

In [ ]:
li_1 = [1, 2, 3, 4, 5]
li_2 = [1, 2, 3 , 4, 6]

print(li_1[3])
print(li_2[3])

4
4

In [ ]:
print(li_1 is li_2)

False

In [ ]:
print(li_1[4] is li_2[4])

False

In [ ]:
# But if we compare between single content in the both list, it returns True.
# Because it located on the same part of the memory.

print(id(list_1[0]))
print(id(list_2[0]))

In [ ]:
print(list_1[0] is list_2[0])
print(list_1[0] is list_3[0])

In [ ]:
a = 5
b = 5
c = 4
print(a is b)
print(a is c)
print('\n')
print(a is not b)
print(a is not c)

In [ ]:
x = [3,5,6,2,4,6]
y = [3,5,6,2,4,6]
z = [2,5,6,2,4,6]

print(x[0] is y[0])
print(x[0] is z[0])
print('\n')
print(x[0] is not y[0])
print(x[0] is not z[0])

## Membership Operators
In Python, membership operators are used to test whether a value or variable exists within a sequence (such as a string, list, tuple, set, or dictionary). They return a Boolean value: True or False.
- in: Returns True if the specified value is present in the sequence, and False otherwise.
- not in: Returns True if the specified value is not present in the sequence, and False otherwise.

In [ ]:
list_1 = ['Bangladesh', 'India', 'Pakistan', 'Srilanka']

print('Bangladesh' in list_1)

True

In [ ]:
print('bangladesh' not in list_1)

True

In [ ]:
in_var = input("Please enter a country's name: ")

print(in_var in list_1)

Please enter a country's name:  Bangladesh

True

In [ ]:
x = input("Please enter a number: ")
print(x)
print(type(x))

Please enter a number:  3

3
<class 'str'>

In [ ]:
li_3 = [1,2,3,4,2,44, 34, 2]
num = input("Please enter a number: \n")
print(type(num))
num = int(num)

print(num in li_3)
print(type(num))

Please enter a number:
 44

<class 'str'>
True
<class 'int'>