<a href="https://colab.research.google.com/github/z-hassan01/CRD-Python-2026/blob/main/Class_04_For_loop_%26_While_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## For Loops
- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
- This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')
print('My name is Md Emdadul Haque')

My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque

In [ ]:
for i in range(10):
    print("My name is Md Emdadul Haque")

My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque
My name is Md Emdadul Haque

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# starting from 0 (by default)
# increments by 1 (by default)

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
name = "Md Emdadul Haque"

for i in name:
    print(i)

M
d

E
m
d
a
d
u
l

H
a
q
u
e

In [ ]:
result = 0
for i in range(1, 5):
    print(i)
    result = result + i

print(result)

1
2
3
4
10

In [ ]:
numbers = [3,4,6,2,54,6,3,5,7,5,3,57,5,34]
max_n = numbers[0]

for n in numbers:
    if n > max_n:
        max_n = n

print(max_n)

57

In [ ]:
li_1 = ["apple", "banana", "cherry"]
li_2 = ["mango", 'jackfruit', 'pineapple']
li_3 = ["a", "b"]

for i in li_1:
    for j in li_2:
        for k in li_3:
            print('i= ', i, '& j= ', j, '& k= ', k)

i=  apple & j=  mango & k=  a
i=  apple & j=  mango & k=  b
i=  apple & j=  jackfruit & k=  a
i=  apple & j=  jackfruit & k=  b
i=  apple & j=  pineapple & k=  a
i=  apple & j=  pineapple & k=  b
i=  banana & j=  mango & k=  a
i=  banana & j=  mango & k=  b
i=  banana & j=  jackfruit & k=  a
i=  banana & j=  jackfruit & k=  b
i=  banana & j=  pineapple & k=  a
i=  banana & j=  pineapple & k=  b
i=  cherry & j=  mango & k=  a
i=  cherry & j=  mango & k=  b
i=  cherry & j=  jackfruit & k=  a
i=  cherry & j=  jackfruit & k=  b
i=  cherry & j=  pineapple & k=  a
i=  cherry & j=  pineapple & k=  b

In [ ]:
# With the break statement we can stop the loop before it has looped through all the items
li_2 = ["mango", 'jackfruit', 'pineapple']

for i in li_2:
    #print(i)
    if i == 'jackfruit':
        break
    print(i)

mango

In [ ]:
numbers = [3,4,6,2,54,6,3,5,7,5,3,57,5,34]

for i in numbers:
    #print(i)
    if i == 5:
        continue
    print(i)

3
4
6
2
54
6
3
7
3
57
34

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

## While Loop
- With the while loop we can execute a set of statements as long as a condition is true.
- The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

In [ ]:
i = 5
while i < 5:
    print(i)
    i += 1
else:
    print("i is no longer less than 10")

1
2
3
4
5
6
7
8
9
i is no longer less than 10

In [ ]:
while True:
    n = int(input('Enter a number: '))
    if n == 2:
        break
    print('Square of', n, 'is', n**2)

Enter a number:  3

Square of 3 is 9

Enter a number:  4

Square of 4 is 16

Enter a number:  2

In [ ]:
# while True:
#     n = int(input('Enter a number: '))
#     if n == 2:
#         continue
#     print('Square of', n, 'is', n**2)

In [ ]:
import pandas as pd

df = pd.read_excel('Data.xlsx')
df

,YEAR,MO,DY,Relative_humidity,Precipitation,Max_temp,Min_temp,Surface_pressure,Earth_skin_temp
0,1990,1,1,59.50,0.0,22.90,9.37,100.26,14.34
1,1990,1,2,60.44,0.0,23.35,10.31,100.27,15.05
2,1990,1,3,56.56,0.0,24.58,10.12,100.34,15.16
3,1990,1,4,55.56,0.0,23.97,10.64,100.40,15.02
4,1990,1,5,53.88,0.0,23.60,10.18,100.53,14.92
...,...,...,...,...,...,...,...,...,...
11318,2020,12,27,75.50,0.0,21.80,10.94,100.19,14.87
11319,2020,12,28,79.31,0.0,21.62,11.45,100.12,15.06
11320,2020,12,29,74.88,0.0,23.16,11.48,100.17,15.58
11321,2020,12,30,72.31,0.0,23.44,11.48,100.25,15.80
11322,2020,12,31,77.19,0.0,22.94,11.76,100.30,15.73

In [ ]:
min_1 = []
max_1 = []

skin = list(df.Earth_skin_temp)

for i in skin:
    if i <= 16:
        min_1.append(i)
    else:
        max_1.append(i)

print(len(min_1))
print(min_1)

787
[14.34, 15.05, 15.16, 15.02, 14.92, 15.15, 15.77, 15.27, 14.25, 14.37, 14.99, 15.05, 14.85, 14.86, 14.97, 14.73, 15.02, 15.44, 15.28, 14.33, 14.38, 14.58, 14.11, 13.28, 12.83, 13.18, 14.57, 15.02, 15.83, 15.15, 15.05, 15.64, 15.38, 15.3, 13.76, 12.65, 11.82, 12.51, 13.2, 12.88, 13.21, 13.43, 13.36, 12.9, 14.4, 14.61, 14.87, 15.45, 15.04, 14.9, 15.88, 15.62, 15.43, 15.62, 15.15, 15.39, 15.4, 15.17, 15.59, 15.26, 15.61, 15.08, 15.68, 15.87, 15.8, 14.62, 13.77, 14.4, 14.18, 15.58, 14.98, 13.7, 13.11, 13.29, 13.76, 13.68, 13.49, 14.64, 15.09, 15.93, 15.61, 15.9, 13.94, 15.39, 15.05, 14.98, 15.1, 14.03, 15.9, 15.88, 15.15, 15.19, 15.48, 15.87, 15.58, 15.88, 15.54, 15.8, 14.48, 13.48, 15.88, 15.26, 12.91, 12.24, 12.76, 13.34, 13.68, 14.43, 14.31, 13.81, 14.9, 15.64, 15.06, 14.24, 15.32, 15.9, 15.98, 15.75, 15.15, 15.4, 15.11, 13.86, 14.3, 14.23, 14.73, 14.76, 15.25, 14.82, 15.07, 15.64, 14.55, 14.73, 15.08, 15.28, 15.39, 15.75, 15.79, 15.23, 14.01, 13.87, 15.34, 14.29, 13.9, 14.34, 13.92, 14.09, 14.14, 14.08, 13.0, 13.98, 15.33, 14.0, 13.38, 14.98, 14.33, 15.0, 13.48, 12.99, 13.06, 14.19, 14.15, 14.3, 15.3, 14.98, 15.53, 15.57, 15.97, 15.65, 15.58, 15.18, 15.78, 15.9, 15.44, 15.02, 15.67, 14.9, 14.52, 15.15, 14.83, 15.05, 15.99, 15.53, 15.4, 14.9, 15.75, 15.13, 15.59, 15.46, 15.19, 15.21, 14.86, 15.87, 15.74, 15.12, 15.94, 15.89, 15.6, 15.5, 15.71, 15.43, 14.44, 13.9, 13.78, 13.83, 15.48, 15.37, 15.3, 14.64, 15.3, 13.83, 14.88, 15.96, 15.7, 15.81, 15.61, 15.73, 15.11, 15.1, 15.37, 15.24, 15.73, 14.62, 14.57, 15.55, 16.0, 15.98, 15.25, 15.76, 15.61, 15.28, 15.4, 15.96, 15.4, 15.16, 15.55, 15.44, 15.81, 15.97, 14.91, 13.03, 13.48, 12.69, 12.8, 12.84, 12.87, 11.19, 11.93, 12.79, 13.24, 14.73, 14.75, 15.42, 15.16, 15.58, 15.91, 14.98, 14.15, 15.01, 13.76, 12.03, 11.34, 11.65, 13.01, 14.19, 14.89, 14.27, 15.4, 15.31, 14.99, 14.96, 14.65, 15.07, 15.16, 15.23, 15.4, 15.46, 15.7, 14.77, 15.31, 15.84, 15.8, 15.93, 15.94, 15.99, 15.58, 15.32, 13.08, 12.86, 13.68, 14.65, 14.93, 15.12, 13.7, 13.69, 14.25, 14.8, 15.66, 14.62, 15.48, 15.19, 14.4, 13.52, 13.26, 13.64, 15.05, 15.73, 15.1, 15.06, 14.12, 14.33, 14.2, 14.55, 14.67, 14.65, 14.56, 15.79, 15.79, 15.62, 15.13, 13.98, 12.57, 12.08, 11.76, 13.23, 13.44, 14.29, 15.84, 15.89, 15.66, 14.67, 14.23, 15.16, 15.04, 14.98, 14.72, 13.94, 13.69, 14.13, 15.94, 14.98, 15.49, 15.07, 15.76, 15.9, 13.72, 13.8, 12.79, 14.42, 14.79, 15.94, 13.88, 12.74, 13.22, 13.69, 14.58, 15.76, 14.72, 12.56, 13.68, 13.4, 13.87, 14.82, 15.19, 15.47, 14.37, 14.81, 15.03, 14.55, 14.51, 15.2, 15.98, 15.4, 14.73, 14.31, 15.23, 15.82, 15.93, 15.62, 15.14, 15.53, 15.51, 14.64, 14.73, 14.73, 15.63, 15.84, 15.58, 15.92, 15.79, 14.83, 14.72, 14.76, 13.92, 13.98, 14.18, 13.83, 14.22, 15.57, 15.51, 14.76, 14.01, 14.02, 14.8, 15.86, 15.75, 15.93, 15.72, 15.81, 15.58, 15.94, 15.92, 15.44, 14.2, 13.23, 13.71, 15.05, 15.73, 15.4, 15.47, 15.22, 14.66, 14.92, 13.83, 13.02, 11.99, 13.19, 14.49, 14.48, 13.72, 12.2, 13.38, 14.18, 15.23, 15.98, 15.88, 15.6, 15.69, 15.07, 15.65, 15.9, 14.83, 13.76, 13.23, 15.45, 15.53, 15.98, 15.65, 15.23, 15.94, 14.77, 14.69, 15.12, 15.89, 15.1, 15.15, 14.95, 13.69, 12.99, 13.71, 14.44, 14.08, 12.89, 13.62, 13.99, 15.38, 14.6, 13.9, 13.66, 13.65, 13.69, 14.12, 15.51, 15.98, 15.56, 15.85, 15.54, 15.12, 15.8, 15.71, 15.05, 14.48, 14.45, 14.65, 14.47, 14.65, 15.58, 14.77, 15.51, 15.56, 15.23, 15.65, 15.9, 15.55, 15.52, 14.64, 14.32, 15.69, 15.98, 15.49, 15.83, 15.13, 15.05, 14.79, 15.03, 15.91, 15.48, 15.21, 15.33, 15.18, 15.1, 15.67, 15.3, 15.4, 15.56, 15.88, 15.29, 14.83, 15.25, 16.0, 15.79, 15.48, 13.91, 13.41, 13.17, 12.76, 13.67, 14.92, 14.43, 12.93, 12.24, 13.9, 13.51, 13.49, 13.94, 14.73, 15.5, 15.84, 15.36, 15.59, 15.19, 15.19, 14.64, 14.94, 14.58, 15.01, 15.05, 15.19, 14.66, 15.82, 15.6, 15.55, 15.81, 13.33, 13.22, 13.38, 13.75, 14.42, 15.6, 15.93, 13.9, 13.97, 13.08, 12.73, 13.52, 14.57, 14.6, 14.83, 15.73, 15.33, 14.31, 14.84, 15.22, 14.39, 15.42, 15.44, 15.87, 15.01, 13.75, 13.58, 14.44, 15.37, 13.69, 14.58, 14.05, 13.78, 14.38, 13.87, 14.27, 15.2, 15.04, 15.96, 14.09, 13.36, 13.01, 9.95, 9.37, 9.08, 10.44, 13.5, 13.71, 14.61, 15.51, 15.51, 15.44, 15.87, 14.58, 12.37, 11.98, 13.13, 15.34, 15.94, 15.55, 15.84, 15.32, 15.03, 15.58, 15.94, 16.0, 14.76, 15.4, 14.84, 14.59, 15.8, 15.76, 14.93, 15.77, 15.44, 15.21, 14.64, 14.02, 14.99, 15.52, 15.68, 15.49, 15.9, 15.58, 15.43, 15.4, 15.43, 15.44, 15.99, 15.44, 15.49, 15.62, 15.24, 15.95, 14.64, 14.35, 15.78, 15.62, 15.22, 14.89, 13.8, 14.51, 14.81, 14.06, 13.87, 14.41, 14.62, 14.9, 15.31, 15.2, 15.55, 15.95, 15.25, 14.85, 15.42, 15.84, 15.61, 15.67, 15.76, 15.91, 14.08, 13.98, 13.37, 12.73, 13.42, 14.37, 15.96, 15.2, 14.32, 13.55, 14.59, 14.54, 14.48, 15.36, 15.63, 15.73, 14.19, 11.95, 12.15, 12.4, 12.54, 13.61, 14.73, 14.44, 15.19, 15.23, 15.16, 13.19, 12.55, 12.39, 12.57, 13.87, 15.3, 15.65, 15.11, 15.08, 14.29, 13.56, 13.48, 15.6, 15.77, 15.76, 15.69, 15.15, 14.8, 15.73, 15.85, 15.85, 14.9, 15.68, 14.72, 15.33, 15.44, 15.76, 15.28, 15.78, 14.64, 15.83, 15.94, 15.71, 14.83, 14.4, 14.73, 15.0, 14.8, 14.2, 15.4, 15.66, 15.23, 15.28, 15.88, 15.83, 13.66, 14.18, 15.62, 15.85, 15.32, 15.63, 15.65, 15.51, 13.44, 13.45, 13.08, 12.69, 14.4, 13.66, 13.42, 13.86, 14.9, 15.55, 15.78, 14.8, 14.0, 13.73, 14.78, 14.4, 15.09, 15.01, 15.8, 15.61, 15.97, 15.93, 15.08, 14.13, 14.19, 15.21, 15.1, 15.5, 15.87, 15.76, 14.87, 15.06, 15.58, 15.8, 15.73]

In [ ]:
# print(len(max_1))
# print(max_1)

In [ ]:
infinitive = ['agree','appear','arrange','ask','claim','consent',
             'decide','demand','deserve','expect','fail','forget',
             'hesitate','hope','intend','learn','manage','mean',
             'need','offer','plan','prepare','pretend','promise',
             'refuse','seem','tend','threaten','wait','want','be likely']

gerund = ['admit','appreciate','avoid','complete','consider','delay',
         'deny','discuss','enjoy','finish','keep','mention','miss',
         'postpone','practice','quit','recall','recommend','regret',
         'risk','stop','suggest','tolerate','understand']

verb_phrase = ['approve of','be better off',"can't help",'count on',
              'do not mind','forget about','get through','insist on',
              'keep on','look forward to','object to', 'think about','think on',
              'with a view to','contribute to','confess to','take to',
              'addicted to','accustomed to','get/be use to','get round to',
              'get around to','habituated to','it is no use','it is no good',
              'it is worth','it is a waste of time','would you mind']

list_f = infinitive + gerund + verb_phrase
set_f = set(list_f)

print('Write to/ing in the box below:')

true_word = []
false_word = []

for i in set_f:
    if i in infinitive:
        input_word = input('{} : '.format(i))
        index = infinitive.index(i)
        infinitive[index]='to'
        if input_word == 'to':
            print('True\n')
            true_word.append(i)
        else:
            print('False\n')
            false_word.append(i)
    elif i in gerund:
        input_word = input('{} : '.format(i))
        index = gerund.index(i)
        gerund[index]='ing'
        if input_word == 'ing':
            print('True\n')
            true_word.append(i)
        else:
            print('False\n')
            false_word.append(i)
    elif i in verb_phrase:
        input_word = input('{} : '.format(i))
        index = verb_phrase.index(i)
        verb_phrase[index]='ing'
        if input_word == 'ing':
            print('True\n')
            true_word.append(i)
        else:
            print('False\n')
            false_word.append(i)


print('\n\nTrue answer: ', len(true_word))
print('False answer: ', len(false_word))

Write to/ing in the box below:

it is a waste of time :  to

False

forget about :  ing

True

can't help :  ing

True

count on :  ing

True

get/be use to :  to

False

expect :  to

True

get round to :  to

False

## Assignment

১। একটা এক্সেল ফাইল তৈরী করবেন যেখানে কয়েকজন শিক্ষার্থ্রীর নাম, রোল, কয়েক বিষয়ের রেজাল্ট দেওয়া থাকবে। উক্ত রেজাল্ট যোগ করে তার ফাইনাল জিপিএ কত সেটা বের করবেন। কোড টিকমতো কাজ করলে একটা স্ক্রিনশট নিয়ে জমা দিবেন।