<a href="https://colab.research.google.com/github/z-hassan01/CRD-Python-2026/blob/main/Class_03_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Set
- Sets are used to store multiple items in a single variable.
- A set is a collection which is unordered, unchangeable*, and unindexed.
- Sets are written with curly brackets.
- not allow duplicate values.
- Unordered means that the items in a set do not have a defined order.
- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [ ]:
set_1 = {'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Friday'}
print(set_1)

print(type(set_1))

{'Tuesday', 'Sunday', 'Saturday', 'Wednesday', 'Monday', 'Friday'}
<class 'set'>

In [ ]:
li = ['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday']
set_2 = set(li)
print(set_2)
print(type(set_2))
print(li)

{'Sunday', 'Monday', 'Wednesday', 'Tuesday', 'Saturday', 'Friday'}
<class 'set'>
['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday']

### Add content in Set
- Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
day = 'Thursday'

set_1.add(day)

print(set_1)
len(set_1)

{'Tuesday', 'Sunday', 'Saturday', 'Wednesday', 'Monday', 'Thursday', 'Friday'}

7

In [ ]:
# Update
# To add items from another set into the current set, use the update() method.

set_2 = {"apple", "banana", "cherry"}

set_1.update(set_2)
print(set_1)

{'Wednesday', 'Monday', 'banana', 'cherry', 'Tuesday', 'Saturday', 'Thursday', 'Friday', 'apple'}

In [ ]:
# remove
set_1.remove('apple')
print(set_1)

{'Sunday', 'Wednesday', 'Monday', 'banana', 'cherry', 'Tuesday', 'Saturday', 'Thursday', 'Friday'}

In [ ]:
# discard
set_1.discard('banana')
print(set_1)

{'Sunday', 'Wednesday', 'Monday', 'cherry', 'Tuesday', 'Saturday', 'Thursday', 'Friday'}

- You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.
- The return value of the pop() method is the removed item.

In [ ]:
# pop
set_1.pop()

print(set_1)

{'Wednesday', 'Monday', 'Friday'}

In [ ]:
set_4 = set_1.copy()

print(set_4)

{'Friday', 'Saturday', 'Wednesday', 'Monday'}

In [ ]:
# clear
set_4.clear()

print(set_4)
print(type(set_4))

set()
<class 'set'>

### Union
- You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:
- The union() method returns a new set with all items from both sets:

In [ ]:
set_1 = {'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday'}
set_2 = {'Friday', 'Saturday', 'Sunday', "apple", "banana", "cherry"}

set_3 = set_1.union(set_2)    # function

print(set_3)

{'Sunday', 'Wednesday', 'Monday', 'banana', 'cherry', 'Tuesday', 'Saturday', 'Friday', 'apple'}

In [ ]:
set_2.update(set_1)
print(set_1)

{'Sunday', 'Wednesday', 'Monday', 'banana', 'cherry', 'Tuesday', 'Saturday', 'Friday', 'apple'}

In [ ]:
# union by syntax
set_4 = set_1 | set_2

print(set_4)

{'Sunday', 'Wednesday', 'Monday', 'banana', 'cherry', 'Tuesday', 'Saturday', 'Friday', 'apple'}

### Intersection
- The intersection_update() method will keep only the items that are present in both sets.
- Keep the items that exist in both set x, and set y:
- The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
# Function
set_1 = {'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday'}
set_2 = {'Friday', 'Saturday', 'Sunday', "apple", "banana", "cherry"}

set_5 = set_1.intersection(set_2)

set_1.intersection_update(set_2)

print(set_5)
print(set_1)

{'Sunday', 'Friday', 'Saturday'}
{'Sunday', 'Friday', 'Saturday'}

In [ ]:
# Syntax
set_6 = set_1 & set_2
print(set_6)

{'Saturday', 'Sunday', 'Friday'}

### Keep All, But NOT the Duplicates
### Symmetric_difference()
- The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
- The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
- Keep the items that are not present in both sets

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
print(z)

{'google', 'banana', 'cherry', 'microsoft'}

In [ ]:
x.symmetric_difference_update(y)
print(x)

{'google', 'banana', 'cherry', 'microsoft'}